@model LieferscheinViewModel

@{
    ViewData["Title"] = "Lieferschein";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lieferschein erstellen</h2>

<hr />
<div class="row">
    
    <form asp-action="CreateLieferschein">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BestehenderKunde" class="control-label"></label>
                <select asp-for="BestehenderKunde" asp-items="Model.Kunden" class="form-control"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KundenName" class="control-label"></label>
                <input asp-for="KundenName" class="form-control" />
                <span asp-validation-for="KundenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressZeile1" class="control-label"></label>
                <input asp-for="AdressZeile1" class="form-control" />
                <span asp-validation-for="AdressZeile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressZeile2" class="control-label"></label>
                <input asp-for="AdressZeile2" class="form-control" />
                <span asp-validation-for="AdressZeile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KundeNr" class="control-label"></label>
                <input asp-for="KundeNr" class="form-control" />
                <span asp-validation-for="KundeNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LieferNr" class="control-label"></label>
                <input asp-for="LieferNr" class="form-control" />
                <span asp-validation-for="LieferNr" class="text-danger"></span>
            </div>
        </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LieferDatum" class="control-label"></label>
                    <input asp-for="LieferDatum" data-val="false" class="form-control" />
                    <span asp-validation-for="LieferDatum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MengeBBQ" class="control-label"></label>
                    <input asp-for="MengeBBQ" class="form-control" placeholder="Anzahl" />
                    <span asp-validation-for="MengeBBQ" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MengeBBQSmall" class="control-label"></label>
                    <input asp-for="MengeBBQSmall" class="form-control" placeholder="Anzahl" />
                    <span asp-validation-for="MengeBBQSmall" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MengePizza" class="control-label"></label>
                    <input asp-for="MengePizza" class="form-control" placeholder="Anzahl" />
                    <span asp-validation-for="MengePizza" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MengeJus" class="control-label"></label>
                    <input asp-for="MengeJus" class="form-control" placeholder="Anzahl" />
                    <span asp-validation-for="MengeJus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MengeJusSmall" class="control-label"></label>
                    <input asp-for="MengeJusSmall" class="form-control" placeholder="Anzahl" />
                    <span asp-validation-for="MengeJusSmall" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Erstellen" class="btn btn-default " />
                </div>
            </div>
    </form>    
</div>
